input {
    width: 3rem;
    border: 0;
    border-bottom: 1px solid #007bff;
    padding: 0.2em;
    padding-bottom: 0.5rem;
    height: 2.1rem;
    margin: 0 1rem;
}

.buyNow {
    display: block;
    margin: 0.5rem;
}